    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .error {
        /* color: red; */
        /* font-size: 2rem; */
    }

    .container {
        width: 100%;
        height: 100vh;
        display: grid;
        place-content: center;
        background: url(./image/wall.jpg) no-repeat center;
        background-size: cover;
    }

    .box {
        height: auto;
        width: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 25px;
        border-radius: 20px;
        backdrop-filter: blur(3px);
        box-shadow: 0 0 5px white;
    }

    .box .title {
        color: white;
        font-size: 1.6rem;
        font-weight: 600;
    }
    .box .inputs {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.box .inputs .input {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.box .inputs .input input {
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background: none;
  width: 400px;
  padding: 15px;
  /* border-radius: 8px; */
}

.box .inputs input::placeholder {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
.inputs .error {
  color: white;
  padding-left: 2px;
}
button {
  border: none;
  background-color: white;
  color: black;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
}
button:hover{
    background-color: #f50212e3;
    color: white;
}